.header {
    height: 80px;
    background-color: #1d1f24;
    position: sticky;
    top: -1px;
    display: flex;
    justify-content: space-between;
    color: #e5a300;
    align-items: center;
    z-index: 10;
    font-family: math;
    padding: 0 50px;
    font-size: 25px;
}

.__headerLeftContent {
    display: flex;
    gap: 20px;
    color: #fff;
    font-family: fantasy;
}

.__headerRightContent {
    display: flex;
}


.highlighted {
    color: #0274cc;
    font-weight: bold;
}

/* Настройки input (Переключатель режима стилей) */
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 92px;
    height: 48px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 38px;
    height: 38px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s ease;
}

input:checked+label {
    background: #474747;
}

input:checked+label:after {
    left: calc(100% - 43px);
}

label:active:after {
    width: 40px;
}