@media (max-width: 767px) {
    .footer {
        padding: 25px 0 20px;
    }

    .footer__title {
        font-size: 18px;
    }

    .footer__links {
        column-gap: 15px;
    }

    .footer__link {
        flex: 0 0 45px;
        height: 45px;
        font-size: 24px;
    }

    .footer__copy {
        margin: 15px 0px 0px 0px;
    }

    #myCanvas,
    #myCanvas2 {
        width: 400px;
    }
    #myCanvas2 {
       margin-top: 100px;
    }
}

@media (any-hover: hover) {
    .footer__link:hover {
        background: #ffffff;
    }
}
@media (max-width: 991px) {
    .footer {
        padding: 25px 0 20px;
    }

    .footer__section:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }

    .footer__title {
        font-size: 20px;
        margin: 0px 0px 8px 0px;
    }

    .footer__link {
        flex: 0 0 45px;
        height: 45px;
        font-size: 24px;
    }

    .footer__copy {
        margin: 20px 0px 0px 0px;
    }
}
@media (max-width: 1160px) {
    .containerSKillsClass{
        grid-template-columns: auto;
    }

    .__BottomContainerProject>div {
        flex-direction: column;
    }

    .__labelSkills {
        font-size: 14px;
        margin-left: 95px;
    }
    .pageProjects{
        padding: 100px;
    }
    .ContainerSkills {
        min-height: 100vh;
        height: auto;
        padding: 110px 0;
    }
  
}
@media (max-width: 556px) {
    .__headerLeftContent > span > a {
        font-size: 22px;
        gap: 10px;
    }
    .containerSpanSkillsome {
        width: 370px;
       
    }
    #myCanvas, #myCanvas2{
        width: 300px;
    }
    .header {  
        padding: 0 10px;
    }.__headerLeftContent{
        gap: 10px;
    }
    .modal-window {
        text-align: -webkit-left;
        width: 80%;
        word-spacing: -12px;
    }
    .containerSpanSkillsome:hover {
        margin-left: 20px;
        transition: 0.6s;
        width: 350px;
    }
    .__labelSkills {
        margin-left: 3px;
    }

}
@media (max-width: 468px) {
    .__about {
        padding: 20px 15px;
    }
  
}

