
/* Welcome */
.containerWelcome {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.__nameSpan {
    color: #0896ff;
}

.__buttonView {
    margin: 30px 0px 0px 0px;
    padding: 12px 20px;
    column-gap: 12px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 22px;
    border: 2px solid;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    align-items: center;
}

.__buttonView::before {
    content: '→';
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 4px;
    color: rgb(0, 0, 0);
    transition: transform 0.5s ease;
}

.__buttonView:hover::before {
    transform: rotate(90deg);
    transform-origin: center;
    cursor: pointer;
}

.AboutMeContainer {
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 40px 0;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 100px 0;
}

/* About */
.AboutMeContainer>p {
    width: 70%
}

.AboutMeContainer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}

.__about {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 50px;
    gap: 38px;
    max-width: 700px;
    font-size: 20px;
    text-align: justify;
    line-height: 38px;
}

.__about>p {
    min-height: 400px;
}

.imgBackground {
    z-index: -1;
    transform: rotate(180deg);
    opacity: 0.2;
    position: absolute;
    height: 100%;
    width: 100%;
}

